@{
    ViewData["Title"] = "บทความที่ " + ViewData["ArticleId"];
}

<div class="container text-center">
    <h1 class="mt-4">บทความที่ @ViewData["ArticleId"]</h1>

    <div class="image-container">
        <img src="@Url.Content($"~/images/IT{ViewData["ArticleId"]}.png")"
             alt="บทความที่ @ViewData["ArticleId"]" class="article-image">
    </div>

    <div class="article-content mt-3" style="text-align: left; line-height: 1.6;">
        <h3>หลักการทำงาน โซลาร์เซลล์</h3>

        <p>
            โซลาร์เซลล์เป็นอุปกรณ์ที่สามารถแปลงพลังงานแสงอาทิตย์เป็นพลังงานไฟฟ้าได้ หลักการทำงานของโซลาร์เซลล์ (Solar cells) สามารถอธิบายได้ดังนี้
        </p>

        <h4>การดำเนินการทางฟิสิกส์ของวัสดุ</h4>
        <p>
            โซลาร์เซลล์มักใช้วัสดุที่มีคุณสมบัติในการกระตุ้นอิเลกตรอน (Electron) เมื่อได้รับพลังงานจากแสงอาทิตย์ วัสดุที่มักใช้ในการสร้างโซลาร์เซลล์คือซิลิโคน (Silicon) และวัสดุที่ใช้แบบอื่น ๆ เช่น ซิลิเกอร์ (CIGS), ไครสตัลไลน์ (Perovskite) เป็นต้น
        </p>

        <h4>การสร้างกระแสไฟฟ้า</h4>
        <p>
            เมื่ออิเลกตรอนในวัสดุถูกกระตุ้นด้วยพลังงานแสงอาทิตย์ อิเลกตรอนจะเคลื่อนที่ไปในโครงสร้างในวัสดุ ซึ่งทำให้เกิดกระแสไฟฟ้าขึ้น กระแสนี้จะไหลผ่านวงจรของโซลาร์เซลล์และสามารถให้พลังงานไฟฟ้าให้กับอุปกรณ์หรือระบบที่ต้องการใช้ได้
        </p>

        <h4>การเก็บรักษาพลังงาน</h4>
        <p>
            พลังงานที่แสงอาทิตย์แปลงเป็นกระแสไฟฟ้าจะถูกเก็บรักษาในโซลาร์เซลล์และมีการส่งออกมาผ่านตัวนำไฟฟ้าของโซลาร์เซลล์ โดยสามารถนำไปใช้ในการให้กำลังงานในอุปกรณ์หรือเครื่องใช้ไฟฟ้าต่าง ๆ
        </p>

        <h4>ความแตกต่างระหว่างแผงเซลล์</h4>
        <p>
            โซลาร์เซลล์ที่ใช้กันอย่างแพร่หลายในปัจจุบันเป็นแผงโซลาร์เซลล์ที่มีการต่อพื้นที่หลายๆ แผ่นเข้าด้วยกัน แต่ละแผ่นมีส่วนของการแปลงพลังงานแสงอาทิตย์เป็นไฟฟ้า และถูกต่อเข้าด้วยกันในวงจรเพื่อเพิ่มประสิทธิภาพในการเก็บพลังงานแสงอาทิตย์
        </p>

        <h4>ส่วนประกอบของโซลาร์เซลล์</h4>
        <ul>
            <li><strong>ชั้นหน้า (Front contact):</strong> เป็นชั้นที่อยู่ฝั่งที่ติดต่อกับแสงอาทิตย์ มักใช้วัสดุโลหะสำหรับลดความสูญเสียของอิเลกตรอนในการผ่าน</li>
            <li><strong>ชั้นหลัง (Back contact):</strong> เป็นชั้นที่อยู่ฝั่งที่ไม่ติดต่อกับแสงอาทิตย์ ซึ่งมักใช้วัสดุเชิงซิลิคอนหรือโลหะที่ส่งกระแสไฟฟ้าออกจากโซลาร์เซลล์</li>
        </ul>

        <p>
            เมื่อรวมกัน กระแสไฟฟ้าที่เกิดขึ้นจากโซลาร์เซลล์สามารถนำไปใช้ในหลากหลายอุปกรณ์และแผงโหลดไฟฟ้าเพื่อส่งไปใช้งานในบ้าน อุปกรณ์อิเล็กทรอนิกส์ หรือส่งไปเชื่อมต่อกับระบบไฟฟ้าสาธารณะเพื่อเพิ่มการผลิตพลังงานในระบบพลังงานทั่วไป การใช้โซลาร์เซลล์เป็นแหล่งพลังงานที่ยั่งยืนและมีความหมุนเวียนที่น้อยกว่าแหล่งพลังงานที่ใช้เชื้อเพลิง เพราะซึ่งไม่ต้องการการเผาไหม้เชื้อเพลิงที่ส่งมลพิษไปในอากาศ และเป็นทางเลือกที่เหมาะสำหรับการผลิตพลังงานในพื้นที่ที่เชื่อมต่อกับระบบไฟฟ้าได้ยาก หรือไม่มีการเชื่อมต่อกับระบบไฟฟ้าเลย
        </p>
    </div>
</div>
