@{
    ViewData["Title"] = "บทความที่ " + ViewData["ArticleId"];
}

<div class="container text-center">
    <h1 class="mt-4">บทความที่ @ViewData["ArticleId"]</h1>

    <div class="image-container">
        <img src="@Url.Content($"~/images/IT{ViewData["ArticleId"]}.png")"
             alt="บทความที่ @ViewData["ArticleId"]" class="article-image">
    </div>

    <div class="article-content mt-3" style="text-align: left; line-height: 1.6;">
        <h3>การติดตั้งแผงโซล่าเซลล์</h3>

        <p>
            การติดตั้งแผงโซล่าเซลล์ มีขั้นตอนคร่าวๆ ดังนี้:
        </p>

        <h4>1. การวางแผนและการตรวจสอบสถานที่</h4>
        <p>
            ต้องทำการวางแผนและตรวจสอบสถานที่ที่ต้องการติดตั้งแผงโซล่าเซลล์ โดยต้องพิจารณาปัจจัยต่างๆ เช่น ทิศทางของแสงแดด ความเรียบ และโครงสร้างของหลังคาหรือพื้นที่ที่ติดตั้ง ฯลฯ
        </p>

        <h4>2. การตรวจสอบความปลอดภัย</h4>
        <p>
            ต้องตรวจสอบว่าพื้นผิวที่จะติดตั้งสามารถรองรับน้ำหนักและแรงดันที่เกิดขึ้นจากแผงโซล่าเซลล์ได้อย่างปลอดภัย และต้องมีการระบายน้ำให้ดีเพื่อป้องกันการสะสมของน้ำที่อาจเกิดขึ้นในกรณีฝนตกหรือสภาพอากาศที่แปรปรวน
        </p>

        <h4>3. การติดตั้งโครงสร้างรองรับ</h4>
        <p>
            ควรติดตั้งโครงสร้างรองรับที่เหมาะสม เช่น เสาเข็มขัด หรือโครงสร้างเหล็ก เพื่อรองรับและยึดแผงโซล่าเซลล์ ด้วยรางยึดแผงโซล่าเซลล์ หรือ อุปกรณ์จับยึดแผงโซล่าเซลล์ (Solar Mounting) ที่มีคุณภาพ โดยโครงสร้างนี้ต้องมีความแข็งแรงเพียงพอในการรองรับแผงโซล่าเซลล์ในสภาวะสภาพอากาศต่างๆ เช่น ลมแรง ฯลฯ
        </p>

        <h4>4. การติดตั้งแผงโซล่าเซลล์</h4>
        <p>
            หลังจากที่โครงสร้างรองรับถูกติดตั้งแล้ว จะต้องทำการยึดแผงโซล่าเซลล์ลงบนรางยึดโดยใช้สกรูหรือวงแหวนที่เหมาะสมกับระบบยึดที่ใช้ และต้องระวังอย่างให้แน่ใจว่าแผงโซล่าเซลล์ถูกติดตั้งในทิศทางและมุมที่เหมาะสมเพื่อให้ได้ประสิทธิภาพที่สูงสุดในการรับแสงแดด
        </p>

        <h4>5. การเชื่อมต่อและการทดสอบ</h4>
        <p>
            ต้องทำการเชื่อมต่อแผงโซล่าเซลล์กับระบบไฟฟ้าเพื่อให้ได้กระแสไฟฟ้าที่ต้องการ และทดสอบระบบเพื่อตรวจสอบความถูกต้องและประสิทธิภาพของระบบการทำงานของแผงโซล่าเซลล์
        </p>

        <p>
            การติดตั้งรางยึดแผงโซล่าเซลล์เป็นกระบวนการที่ซับซ้อนและควรทำโดยช่างผู้เชี่ยวชาญที่มีความรู้และประสบการณ์ ผ่านการอบรมการติดตั้งอย่างถูกต้องจากผู้ผลิตเพื่อความปลอดภัยในการติดตั้งระบบพลังงานแสงอาทิตย์
        </p>
    </div>
</div>
