@{
    ViewData["Title"] = "บทความที่ " + ViewData["ArticleId"];
}

<div class="container text-center">
    <h1 class="mt-4">บทความที่ @ViewData["ArticleId"]</h1>

    <div class="image-container">
        <img src="@Url.Content($"~/images/IT{ViewData["ArticleId"]}.png")"
             alt="บทความที่ @ViewData["ArticleId"]" class="article-image">
    </div>

    <div class="article-content mt-3" style="text-align: left; line-height: 1.6;">
        <h3>รางยึดแผงโซล่าเซลล์ หรือ อุปกรณ์จับยึดแผงโซล่าเซลล์ (Solar Mounting)</h3>

        <p>
            รางยึดแผงโซล่าเซลล์ หรืออุปกรณ์จับยึดแผงโซล่าเซลล์ (Solar Mounting) เป็นชิ้นส่วนที่ใช้ในการยึดและรักษาแผงโซล่าเซลล์ให้อยู่ในตำแหน่งที่เหมาะสม เพื่อให้แผงโซล่าเซลล์ทำงานได้อย่างมีประสิทธิภาพ การทำงานของรางยึดแผงโซล่าเซลล์มีขั้นตอนดังนี้:
        </p>

        <h4>การติดตั้งแผงโซล่าเซลล์</h4>
        <p>
            ก่อนที่จะติดตั้งแผงโซล่าเซลล์บนโครงสร้างหรือพื้นผิวที่เหมาะสม เช่น บนหลังคาหรือพื้นดิน รางยึดจะถูกติดตั้งให้แนบกับแผงโซล่าเซลล์เพื่อให้แผงและรางยึดเชื่อมต่อกันอย่างแน่นหนา ซึ่งมักจะมีการใช้สกรูหรือล็อคเพื่อยึดรางให้แน่นและปลอดภัย
        </p>

        <h4>การยึดแผงโซล่าเซลล์</h4>
        <p>
            แผงโซล่าเซลล์จะถูกวางหรือติดตั้งบนพื้นผิวที่เหมาะสม และรางยึดจะถูกติดตั้งรอบขอบของแผงโซล่าเซลล์ เพื่อยึดแผงให้อยู่ในตำแหน่งที่แน่นหนาและมั่นคง ซึ่งรางยึดอาจมีรูปร่างและขนาดที่แตกต่างกันไป ขึ้นอยู่กับการออกแบบและโครงสร้างของแผงโซล่าเซลล์เอง
        </p>

        <h4>การป้องกันการสูญเสีย</h4>
        <p>
            รางยึดแผงโซล่าเซลล์มักมีการออกแบบให้มีความแข็งแรงและทนทานต่อสภาวะอากาศต่าง ๆ เช่น ลมแรง ฝนตกหรือหิมะ ซึ่งช่วยป้องกันการสูญเสียหรือความเสียหายที่อาจเกิดขึ้นกับแผงโซล่าเซลล์
        </p>

		<div class="image-container mt-4">
			<img src="@Url.Content($"~/images/IT8-1.png")" alt="บทความที่ 2 - Extra" class="article-image">
		</div>

        <h4>การทำงานของรางยึดแผงโซล่าเซลล์</h4>
        <p>
            รางยึดแผงโซล่าเซลล์มีหน้าที่หลักในการยึดแผงโซล่าเซลล์ให้อยู่ในตำแหน่งที่เหมาะสม เพื่อให้แผงสามารถจับพลังงานจากแสงอาทิตย์ได้อย่างมีประสิทธิภาพ นอกจากนี้ รางยึดยังช่วยให้แผงโซล่าเซลล์ปลอดภัยจากสภาวะอันตราย เช่น ลมแรง หรือการสูญเสียจากการกระแทกกันของวัตถุอื่นๆ ที่อาจทำให้แผงโซล่าเซลล์เสียหายได้
        </p>
    </div>
</div>
