@{
    ViewData["Title"] = "ช่องทางการติดต่อ";
}
<h1><i class="fas fa-graduation-cap"></i> ☎️ช่องทางการติดต่อ</h1>
<p class="contact-phone">โทร: 074-212300</p>

<!-- ตารางหมายเลขโทรศัพท์ภายใน -->
<img src="~/images/1.jpg" alt="หมายเลขโทรศัพท์ภายใน" class="img-fluid" style="display: block; margin: 0 auto; max-width: 100%; margin-bottom: 20px;">
<!-- display: block; ทำให้รูปภาพถูกจัดเป็นบล็อก -->
<!-- margin: 0 auto; ทำให้รูปภาพอยู่ตรงกลางตามแนวนอน -->
<!--max-width: 100%; คงการตอบสนองของรูปภาพให้คงอยู่ในขนาดของหน้าจอ -->

<!-- แผนที่ -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.879768214192!2d100.5042579!3d7.0340331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1234567890abcdef%3A0xabcdef1234567890!2sYourLocation!5e0!3m2!1sth!2sth!4v1685968440362"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
</iframe>
<!-- ข้อมูลติดต่อเพิ่มเติม -->
<p class="text-center" style="margin-top: 20px;">
    วิทยาลัยเทคนิคหาดใหญ่ 7 ถ.กาญจนวนิช ต. คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110 <br>
    โทร 074-212300 email : info@htc.ac.th Or kampol@htc.ac.th <br>
    copyright 2005 www.htc.ac.th Allrights reserved
</p>