@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1><i class="fas fa-graduation-cap"></i> 🖥️ยินดีต้อนรับ</h1>
    <p class="text-center text-muted">นี้เป็นโครงงานเว็บไซต์แผนกอิเล็กทรอนิกส์</p>
</div>

<!-- Facebook Page Plugin -->
<div class="container">
    <div class="row justify-content-center">
        <!-- Facebook Page 1 -->
        <div class="col-md-5 text-center">
            <div class="fb-page"
                 data-href="https://www.facebook.com/profile.php?id=100063719597318"
                 data-tabs="timeline"
                 data-width="400"
                 data-height="600"
                 data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/profile.php?id=100063719597318" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/profile.php?id=100063719597318">เพจอิเล็กทรอนิกส์</a>
                </blockquote>
            </div>
        </div>

        <!-- Facebook Page 2 -->
        <div class="col-md-5 text-center">
            <div class="fb-page"
                 data-href="https://www.facebook.com/profile.php?id=100010759006539"
                 data-tabs="timeline"
                 data-width="400"
                 data-height="600"
                 data-small-header="true"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/profile.php?id=100010759006539" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/profile.php?id=100010759006539">เพจหลัก</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
